@import url('./reset.css');
@import url('./colors.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto+Flex:opsz,wdth,wght,XTRA@8..144,100,500,468;8..144,100,600,468;8..144,100,700,468;8..144,100,800,468;8..144,151,750,499;8..144,151,950,499&display=swap');
* {
  color: var(--dark-green-text);
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 ;
  scroll-behavior: smooth;
}